configurator/Cargo.lock
configurator/debug/
configurator/target/
*_pb2\.*
__pycache__
configurator/profiles/
*\.pb\.*
.DS_Store
main/build/
configurator/.yarn/*
configurator/.pnp.*
!configurator/.yarn/patches
!configurator/.yarn/plugins
!configurator/.yarn/releases
!configurator/.yarn/sdks
!configurator/.yarn/versions