configurator/backend/Cargo.lock
configurator/backend/debug/
configurator/backend/target/
configurator/frontend/Cargo.lock
configurator/frontend/debug/
configurator/frontend/target/
configurator/profiles/encoded/

*\.pb\.*
*_pb2\.*

__pycache__

main/build/

.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*