body {
    margin:0;
}

#joystick {
    stroke:#FF0000;
}

.button {
    fill:none;
    stroke:#000000;
    stroke-width:1;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray:none;
    stroke-opacity:1
}

#outline {
    background-color:#00FF00;
}
